<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Ftp</title>
    <link rel = "stylesheet" 
    href = "../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
        <h1>Send Data</h1>
        <div>
            <h4><span id="my_ip_span"></span></h4>
        </div>
        <div>
            <div class="form-group">
                <button class="btn" id="file_or_text">File</button>
                <input id="message" placeholder="message" type="text">
            </div>
            <button class="btn btn-dark" id="startServerBtn">Send</button>
            <button class="btn btn-danger" id="stopServer">stop</button>

            </div>
            <div>
                <div class="form-group">
                    <label for="ip">Ip</label>
                    <input id="ip" placeholder="ip" type="text">
                </div>
                <button id="btnGetData" class = "btn btn-success">GetData</button>
                <div id="showData" class="showData">
                 
                </div>
            </div>
            <div id="ip_list" class="ip_list">
                
            </div>
    </div>
    <script src="../public/js/main.js"></script>
  </body>
</html>